* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    padding-top: 40px;
    background-color: #3d3935;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

body {
  font-size: 62.5%;
  color: whitesmoke;
}
